#loading {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: var(--dark);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading div {
    width: 40rem;
    height: 40rem;
    overflow: hidden;

    position: relative;
}

#loading .road {
    animation: animate 5s linear infinite;
    position: absolute;
    top: 10rem;
    left: 0;
}

#loading .road:nth-child(2) {
    left: 2400px;
}

.pixel {
    position: absolute;
    left: 50%;
    top: 16.8rem;
    animation: jump 5s linear infinite;
}

.fade-out {
    animation: fade 1s ease-out forwards;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    14% {
        transform: translateY(-10rem);
    }
    15% {
        transform: translateY(-10rem);
    }
    24% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(0);
    }
    44% {
        transform: translateY(-10rem);
    }
    46% {
        transform: translateY(-10rem);
    }
    55% {
        transform: translateY(0);
    }
    62% {
        transform: translateY(0);
    }
    66% {
        transform: translateY(-10rem);
    }
    68% {
        transform: translateY(-10rem);
    }
    79% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(-100%);
    }
}
