/* @import 'normalize.css'; */
@import 'variables.css';

@import 'typography.css';
@import 'structure.css';
@import 'display-infos/index.css';

@import 'pixie.css';

#start span {
    color: var(--gold);
    font-size: 3.5rem;
}

.copy-right.source {
    position: absolute;
    bottom: 0;
    left: 0;
}

.copy-right.source,
.copy-right.source a {
    font-size: 1rem !important;
    color: var(--grey) !important;
}

.scroll-animation-group {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    animation: bounce 2s ease-in-out infinite;
    margin-top: 4rem;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
