#pixie {
    position: absolute;
    /* top: 0;
    left: 0; */
    height: 10px;
    width: 10px;
    background-color: var(--gold);
    transition: all 0.5s ease-in-out;
}

#speech {
    width: 20vw;
    padding: 10px;
    margin-left: 15px;
    border: 1px solid var(--gold);
    background-color: var(--dark);
}

#speech span.hint {
    color: var(--gold);
    font-size: 12px;
}
