.games {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.game-item {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 1.125rem;
    background:
        linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020 94.1%),
        var(--background-image) lightgray 50% / cover no-repeat;
    display: flex;
    min-height: 10rem;
    width: 20vw;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.game-item:hover {
    transform: scale(1.1);
}

.games:hover .game-item:not(:hover) {
    opacity: 0.1;
}

.game-item .title {
    font-size: 1.25rem;
    font-weight: 900;
    margin-left: 1rem;
}

#game-cards {
    display: none;
}

#game-cards:has(.active) {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-opacity);
    z-index: 100;
}

game-card {
    position: absolute;
    width: 40vw;
    height: 70vh;
}

.game-card {
    border-radius: 1.125rem;
    background: linear-gradient(180deg, #20202000 0%, #202020 100%),
        var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: none;

    width: 40vw;
    height: 70vh;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;

    z-index: 1;
}

.game-card.active {
    display: flex;
    z-index: 101;
}

.genres,
.platforms {
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

.genres span,
.platforms span,
.tag {
    border-color: var(--white);
    border-radius: 50px;
    border-style: solid;
    padding: 4px 10px;

    font-weight: 700;
}

.tag {
    font-size: 1rem !important;
    font-weight: 500 !important;
    border-width: 0.5px;
}

.tag + span:not(.tag) {
    font-size: 1rem !important;
    color: var(--grey);
}

game-item .tags {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

game-item .tags div {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
}

.game-card .title {
    margin-top: 4px;
    font-size: 2.5rem;
    font-weight: 900;
}

.game-card .tags {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.game-card p {
    font-size: 1.15rem;
    font-weight: 500;
    margin-top: 8px;
}
