@import './timeline.css';
@import './event.css';
@import './games.css';

#infos-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 10rem 0;
}
