#summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#streamgraph {
    width: 93vw;
    height: 70vh;

    /* TODO: Remove - For debug purposes only */
    background-color: red;
}
